<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GetQuestion</key>
	<dict>
		<key>url</key>
		<string>pa_message/getquestion</string>
	</dict>
	<key>SendMessage</key>
	<dict>
		<key>url</key>
		<string>pa_message/sendmessage</string>
	</dict>
</dict>
</plist>
